<app-header></app-header>
<div class="pro">

    <div class="one">
        <div class="text-center"> <img class="img-responsive" id="ic" class="ic" src="assets/user.png">
        </div>
        <div><img class="img-responsive" src="assets/user.png"> {{"Name : " +table.name}}</div>
        <div> <img class="img-responsive" src="assets/age-group.png">
            {{"Age :"+ table.age}}</div>
        <div> <img class="img-responsive" src="assets/email.png">
            {{"Email :"+ table.email}}</div>
        <div> <img class="img-responsive" src="assets/phone-call.png">
            {{"Phone :"+ table.phone}}</div>
        <div> <img class="img-responsive" src="assets/location.png">{{"address :"+ table.address}}</div>

    </div>
</div>